*.DS_Store
*.log

billpayosgiBlueprint/restaudit/restauditservice/.gradle/2.1/taskArtifacts/cache.properties

billpayosgiBlueprint/restaudit/restauditservice/.gradle/2.1/taskArtifacts/fileHashes.bin

billpayosgiBlueprint/restaudit/restauditservice/.gradle/2.1/taskArtifacts/cache.properties.lock

billpayosgiBlueprint/restaudit/restauditservice/.gradle/2.1/taskArtifacts/outputFileStates.bin

billpayosgiBlueprint/restaudit/restauditservice/.gradle/2.1/taskArtifacts/taskArtifacts.bin

billpayosgiBlueprint/restaudit/restauditservice/.gradle/2.1/taskArtifacts/fileSnapshots.bin
