*.DS_Store
*.log

billpayosgiBlueprint/restaudit/restauditservice/.gradle/2.1/taskArtifacts/cache.properties

billpayosgiBlueprint/restaudit/restauditservice/.gradle/2.1/taskArtifacts/fileHashes.bin

billpayosgiBlueprint/restaudit/restauditservice/.gradle/2.1/taskArtifacts/cache.properties.lock

billpayosgiBlueprint/restaudit/restauditservice/.gradle/2.1/taskArtifacts/outputFileStates.bin

billpayosgiBlueprint/restaudit/restauditservice/.gradle/2.1/taskArtifacts/taskArtifacts.bin

billpayosgiBlueprint/restaudit/restauditservice/.gradle/2.1/taskArtifacts/fileSnapshots.bin

billpayosgiBlueprint/restaudit/restauditservice/.gradle/2.12/taskArtifacts/cache.properties

billpayosgiBlueprint/restaudit/restauditservice/.gradle/2.12/taskArtifacts/fileHashes.bin

billpayosgiBlueprint/restaudit/restauditservice/.gradle/2.12/taskArtifacts/fileSnapshots.bin

billpayosgiBlueprint/restaudit/restauditservice/.gradle/2.12/taskArtifacts/outputFileStates.bin

billpayosgiBlueprint/restaudit/restauditservice/.gradle/2.12/taskArtifacts/taskArtifacts.bin

billpayosgiBlueprint/restaudit/restauditservice/.gradle/2.12/taskArtifacts/cache.properties.lock

billpayosgiBlueprint/restaudit/restauditclient/.gradle/2.12/taskArtifacts/cache.properties

billpayosgiBlueprint/restaudit/restauditclient/.gradle/2.12/taskArtifacts/cache.properties.lock

billpayosgiBlueprint/restaudit/restauditclient/.gradle/2.12/taskArtifacts/fileSnapshots.bin

billpayosgiBlueprint/restaudit/restauditclient/.gradle/2.12/taskArtifacts/taskArtifacts.bin

Refactoring7ImplementationFactory/restaudit/restauditclient/.gradle/2.12/taskArtifacts/cache.properties

*.bin

*.lock

Refactoring7ImplementationFactory/restaudit/restauditservice/.gradle/2.12/taskArtifacts/cache.properties
Refactoring7ImplementationFactory/restaudit/restauditservice/.gradle/file-system.probe
Refactoring7ImplementationFactory/restaudit/restauditservice/.gradle/vcs-1/gc.properties
Refactoring7ImplementationFactory/restaudit/restauditservice/.gradle/buildOutputCleanup/cache.properties
Refactoring7ImplementationFactory/restaudit/restauditservice/.gradle/8.2/gc.properties
Refactoring7ImplementationFactory/restaudit/restauditservice/.gradle/8.2/dependencies-accessors/gc.properties
